{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="col-lg-3">
    <!-- Search -->
    <div class="card my-3">
        <h5 class="card-header">검색</h5>
        <div class="card-body">
            <div class="input-group">
                <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}">
                    <input class="form-control mr-sm-2" id="searchwind" name='searching' placeholder="제품/판매자를 입력하세요" required>
                    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <table id="select-cat-brand">
        <tr>
            <td id="select-cat" onclick="left_list_change(this.id)">Market</td>
            <td id="select-status"  style="color:#6c757d99;" onclick="left_list_change(this.id)">Status</td>
            <td id="select-price" style="color:#6c757d99;" onclick="left_list_change(this.id)">Price</td>
        </tr>
    </table>
    <div class="list-group" id="list-cat">
        <a href="{% url 'filter' f='category' select='AC' %}" class="cat-item list-group-item">Auction</a>
        <a href="{% url 'filter' f='category' select='FL' %}" class="cat-item list-group-item">Flea Market</a>          
    </div>
    <div class="list-group" id="list-brand" style="display:none">
        <a href="{% url 'filter' f='status' select='AUC' %}" class="brand-item list-group-item">Auction</a>
        <a href="{% url 'filter' f='status' select='PUR' %}" class="brand-item list-group-item">Purchased</a>
        <a href="{% url 'filter' f='status' select='ING' %}" class="brand-item list-group-item">In Progress</a>
    </div>
    <div class="list-group" id="list-price" style="display:none">
        <a href="{% url 'filter' f='price' select='10000' %}" class="price-item list-group-item">~ 10$</a>
        <a href="{% url 'filter' f='price' select='50000' %}" class="price-item list-group-item">10$ ~ 50$</a>
        <a href="{% url 'filter' f='price' select='100000' %}" class="price-item list-group-item">50$ ~ 100$</a>
        <a href="{% url 'filter' f='price' select='over' %}" class="price-item list-group-item">100$ ~</a>
    </div>
</div>

<div class="col-lg-9"> 
    <div class="form-group row">
        <label for="sort-select" class="col-sm-1 col-form-label col-form-label-sm">정렬</label>
        <select id="sort-select" onchange="location=this.value;" class="col-sm-6 form-control form-control-sm">
            <option>정렬방식을 선택하세요</option>
            <option class="sort-new" value="?sort=new">신제품순</option>
            <option class="sort-cheap" value="?sort=cheap">낮은가격순</option>
            <option class="sort-expen" value="?sort=expen">높은가격순</option>
        </select>
    </div>
    <div class="alert alert-primary" role="alert">
        "{{word}}"에 대한 상품명 및 판매자명 검색 결과입니다.
    </div>
    <div class="row">
        {% for ppp in products.all %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title">
                    <a href="{% url 'detail' ppp.pid %}">{{ppp.pname}}</a>
                </h4>
                <h5>\{{ppp.price}}</h5>
                <p class="card-text" style="margin:0;"> 
                    <strong>{{ppp.category}}</strong> - 판매자: {{ppp.sellid}}<br>
                    남은 재고: {{ppp.stock}}개<br>
                    등록일자 {{ppp.pub_date}}
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>           
</div>

{% endblock %}